{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>Ademola blog</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'my_blog/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'my_blog/style.css' %}">
</head>
<body><div class="container">
    <div class="header">
        <div><h2><a class="link" href="{% url 'home' %}">Home</a></h2></div><h3>Welcome to my blog</h3></div>
    {% block sidebar %}
    <div> <div class="dropdown"> 
        <button class="btn btn-primary dropdown-toggle" 
        type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Category</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for obj in CateModel %}
            <li> <a class="dropdown-item" href="{{ obj.get_absolute_url }}"> 
                {{ obj.title }} </a></li>
            {% endfor %}</ul>
    </div></div>{% endblock %}
       
    
    <div class="main" id="main">
        {% block main %}
            {% endblock %}
 
    </div>

</div> <div class="foot">
{% block footer %} 
<div class="small"> © Ademola Ogunmokun, 2021. Contact me on <a href="http://www.twitter.com/ademola_isr">Twitter</a> for any enquiries</div></div>
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="{% static 'my_blog/main.js' %}"></script>
</body>
</html>